<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Vue App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div id="app" class="container" v-cloak>
  <h1>My Todos</h1>
  <p v-show="!todos.length">Nothing to do, yay!</p>
  <ul>
    <li v-for="(todo, index) in todos">
      <span :class="[isEditingItem(index) ? 'edit' : '']">{{ todo }}</span>
      <span v-show="!isEditingItem(index)" @click="editItem(index)" class="command"> [edit]</span>
      <span @click="deleteItem(index)" class="command">[x]</span>
    </li>
  </ul>
  <form @submit.prevent="setItem">
    <input type="text" v-model="newItem">
    <button>{{ buttonLabel }}</button>
  </form>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="js/main.js"></script>
</body>
</html>
